# Customer Segmentation #

In [3]:
#importing libraries
import numpy as np
import seaborn as sb
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.cluster import KMeans
from sklearn.model_selection import train_test_split

In [4]:
df=pd.read_csv('int.csv')
df.head()

   InvoiceNo StockCode  ... CustomerID  Country
0     536370     22728  ...    12583.0   France
1     536370     22727  ...    12583.0   France
2     536370     22726  ...    12583.0   France
3     536370     21724  ...    12583.0   France
4     536370     21883  ...    12583.0   France

[5 rows x 8 columns]

In [5]:
df.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [7]:
df.shape

(35116, 8)

In [14]:
df['CustomerID'].nunique()

414

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35116 entries, 0 to 35115
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   InvoiceNo    35116 non-null  int64
 1   StockCode    35116 non-null  object
 2   Description  35116 non-null  object
 3   Quantity     35116 non-null  int64
 4   InvoiceDate  35116 non-null  object
 5   UnitPrice    35116 non-null  float64
 6   CustomerID   33698 non-null  float64
 7   Country      35116 non-null  object
dtypes: float64(2), int64(2), object(4)
memory usage: 2.1+ MB

In [ ]:
cols=[ 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID']
dfnew=df[cols]
dfnew.head()
#Now we are playing only with dfnew

   Quantity   InvoiceDate  UnitPrice  CustomerID
0        24  12/1/10 8:45       3.75     12583.0
1        24  12/1/10 8:45       3.75     12583.0
2        12  12/1/10 8:45       3.75     12583.0
3        12  12/1/10 8:45       0.85     12583.0
4        24  12/1/10 8:45       0.65     12583.0